<div class="footer-container">
    <div class="footer-left">
      <img src="/images/logo.png" alt="Logo de la Universidad">
    </div>
    <div class="footer-right">
      <nav>
        <ul>
          <li><a href="#">Información General</a></li>
          <li><a href="#">Objetivos</a></li>
          <li><a href="#">Programas</a></li>
          <li><a href="#">Capacitaciones</a></li>
          <li><a href="#">Escuela de Oficios</a></li>
        </ul>
      </nav>
      <p>Dirección de Extensión Universitaria - Todos los derechos reservados 2024</p>
    </div>
  </div>