<div class="footer-container">
  <div class="footer-section">
    <img src="/images/logo-1.png" alt="Logo de la Universidad">
    <p class="rights-message">Dirección de Extensión Universitaria - Todos los derechos reservados 2024</p>
  </div>
</div>
