<head>
    <link rel="stylesheet" href="">
</head>
<!DOCTYPE html>
<body>
    <div class="text-content-body">    
<h2>Dirección de Extensión Universitaria</h2>
<p>
    <strong>La direccion de Extensión Universitaria depende de la Sub-secretaría de Deportes y de ella depende el áera de apoyo administrativo.</strong>
</p>
<br>
<hr>
<h3>Misión</h3>
<p>
    Incentivar la realizacion de programas con proyección comunitaria que permitan la participación activa, organizada y eficaz de grupos interdisciplinarios constituidos por docentes, alumnos y/o graduados, con el propósito de garantizar el proceso de transferencia académica e inserción curricular de los contenidos y metodologías extraídas del contacto con el medio.
</p>
<br>
<hr>
<h3>Función</h3>
<p>
<strong>1 -</strong> Posibilitar la comunicación e interacción creadora entre la universidad y la comunidad
</p>
<br>
<p>
<strong>2 -</strong> Coordinar y supervisar llas actividades asignadas a la Secretaría y Sub-Secretarías.
</p>
    </div>
</body>
</html>