<!DOCTYPE html>
<body>
    
<h2>Dirección de Extensión Universitaria</h2>
<p>
    La direccion de Extensión Universitaria depende de la Sub-secretaría de Deportes y de ella depende el áera de apoyo administrativo
</p>
<br>
<hr>
<h3>Misión</h3>
<p>
    Incentivar la realizacion de programas con proyección comunitaria que permitan la participación activa, organizada y eficaz de grupos interdisciplinarios constituidos por docentes, alumnos y/o graduados, con el propósito de garantizar el proceso de transferencia académica e inserción curricular de los contenidos y metodologías extraídas del contacto con el medio.
</p>
<br>
<hr>
<h3>Función</h3>
<p>
1 - Posibilitar la comunicación e interacción creadora entre la universidad y la comunidad
<br>
2- Coordinar y supervisar llas actividades asignadas a la Secretaría y Sub-Secretarías.
</p>

</body>
</html>