<header>
    <div class="frase">
      <h5>"SIEMPRE APOSTAMOS A LA EDUCACIÓN, LA INCLUSIÓN Y A LA COLABORACIÓN COMUNITARIA"</h5>
    </div>
    <div class="header-content">
      <div class="logo-container">
        <a href="/"><img src="images/logo-extension-1.png" alt="logo extension" class="logo"></a>
      </div>
    </div>
  </header>
