<header>
    <div class="frase">
        <h5>"SIEMPRE APOSTAMOS A LA EDUCACIÓN, LA INCLUSIÓN Y A LA COLABORACIÓN COMUNITARIA"</h5>
    </div>
    <div class="header-content">
        <div>
            <a href="/"><img src="/img/logo.svg" alt="Logo del Café" class="logo"></a>
        </div>
        <nav>
            <ul class="nav-links">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/informacion">Informacion General de la dirección</a></li>
                        <li><a href="/Objetivos">Objetivos</a></li>
                        <li><a href="/Programas">Programas Activos</a></li>
                        <li><a href="/capacitaciones">Inscripción a capacitaciones</a></li>
                        <li><a href="/oficios">Escuela de oficios</a></li>
            </ul>
