<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/public/css/styles2.css">
    <title>info</title>
</head>
<body>
    <div class="text-content-body">
        <h2>Objetivos principales</h2>
            <p>
                <strong>(1) Capacitación constante</strong>
            </p>
            <p>
                <strong>(2) Socialización de conocimientos con la comunidad Universitaria y con la comunidad en general</strong>
            </p>
            <p>
                <strong>(3) Potenciar las habilidades de toda la comunidad que requiera nuevos conocimientos o bien de genrar lazos de interacción con diferentes actores sociales</strong>
            </p>
    </div>
</body>
</html>