<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/public/css/styles2.css">
    <title>info</title>
</head>
<body>
    <div class="text-content-body">
        <h2>Objetivos principales</h2>
            <p>
                <strong>(1) Capacitación constante</strong>
            </p>
            <p>
                <strong>(2) Mejora en los servicios de asstencia a los futuros graduados</strong>
            </p>
            <p>
                <strong></strong>
            </p>
    </div>
</body>
</html>