<DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/public/css/styles2.css">
    <title>Informacion General</title>
</head>
<body>
    <div class="text-content-body">
        <h2>Programas Activos</h2>
        <br>
        <h4>
            Programa Promoci贸n de la extensi贸n Universitaria
        </h4>
        <hr>
        <br>
        <h4>
            Programa de Capacitaci贸n
        </h4>
        <hr>
        <br>
        <h4>
            Programa de Fortalecimiento y Promoci贸n del Deporte Universitario
        </h4>
        <br>
        <hr>
        <h4>
            Programa Universidad y Sociedad
        </h4>
    </div>
</body>
</html>