<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/public/css/styles2.css">
    <title>Información General</title>
</head>
<body>
    <div class="text-content-body">
        <h2>
            Nuestra oferta de capacitaciones en la Escuela de Oficios son:
        </h2>
        <hr>
        <br>

        <h3>Bartender</h3>
        <img src="images/bartender.avif" alt="Imagen de Bartender" class="image-offer">
        <hr>
        
        <h3>Construcción</h3>
        <img src="images/albañileria.jpg" alt="Imagen de Albañilería" class="image-offer">
        <hr>
        
        <h3>Electricidad</h3>
        <img src="images/electricidad.jpg" alt="Imagen de Fútbol" class="image-offer">

        <h3>Diseño de webs</h3>
        <img src="images/desarrollo de webs.jpg" alt="Imagen de Fútbol" class="image-offer">
    </div>
</body>
</html>
