<h2> Incripción a Capacitaciones</h2>

<p>
    En esta sección podremos realizar la inscripción a las diferentes capacitaciones que ofrece la Dirección de Extensión Universitaria
</p>
<br>
<hr>
<form action=""></form>