<%- include ('partials/head.ejs') %>

<body>

  <%- include('partials/nav') %>

  <!-- Contenido principal -->
  <main>
    <section class="content">
      <h1>Bienvenido a la Dirección de Extensión Universitaria</h1>
      <p>Seleccione una opción en el menú para obtener más información.</p>
    </section>
  </main>

  <footer>
    <%- include('partials/footer') %>
  </footer>
</body>
</html>
